<h1>Для восстановления пароля пожалуйста перейдите по ссылке</h1>

<p>
    Для восстановления пароля перейдя по следующей ссылке:  <br>
    <a href="{{ signedUrl }}">Восстановить пароль</a>. <br><br>
    Срок действия этой ссылки истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
